@using ASF.Entities
@using ASF.UI.WbSite.Controllers
@using ASF.UI.WbSite.Models.CustomModel
@model IEnumerable<ASF.Entities.Product>

<style type="text/css">
    .parentimage:hover {
        margin-top: 10px;
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
    }
</style>


@if (ViewBag.Comprar == null)
{

    <p>
        @Html.ActionLink("Nuevo Producto", "Create", "Product")
    </p>

}



@foreach (var item in Model)
    {
        <div style="width: 30%; float: left; margin-right: 2px; ">


            <md-card>

                <img class="parentimage" data-scale="1.1" ng-src="@string.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(item.Image))" class="md-card-image" alt="Washed Out">

                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">@Html.DisplayFor(modelItem => item.Title)</span>
                    </md-card-title-text>

                </md-card-title>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">$@Html.DisplayFor(modelItem => item.Price)</span>
                    </md-card-title-text>

                </md-card-title>
                <md-card-content>
                    <p>
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>

                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">

                    @if (ViewBag.Comprar == null)
                    {
                        <td>
                            @Html.ActionLink("Editar", "Edit", "Product", new { id = item.Id }, null) | 
                            @Html.ActionLink("Eliminar", "Delete", "Product", new { id = item.Id }, null)
                        </td>

                    }
                    else
                    {
                        <td>
                            <md-button ng-click="vm.AnadirCarrito(@item.Id, @item.Price, $event)">Añadir al Carrito</md-button>

                        </td>
                    }




                </md-card-actions>
            </md-card>


        </div>

    }


@* </table> *@
